html, body {
    height: 100%;
}

.logo {
    width: 50px;
    height: 50px;
    border: thin;
}

.Tokopedia {
    background-size: cover;
    background: url("/static/img/Tokopedia.png") no-repeat center center;
}

.Olx {
    background-size: cover;
    background: url("http://s2.olx.ua/static/olxua/naspersclassifieds-regional/olxeu-atlas-web-olxua/static/img/favicon.ico?v=4") no-repeat center center;
}