{% include 'header.html' %}
<body id="home">
{% include 'navbar.html' %}

<!-- Contact -->
<div id="contact" class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h3>Pasang Iklan</h3>
                <p class="lead" style="margin-top:0">Pasang iklan anda disini.</p>
            </div>
            <form role="form" action="" method="post">
                <div class="col-md-10 col-md-offset-1 text-center wrap_title">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Judul Iklan</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="product_name" id="product-name"
                                           placeholder="Judul iklan" required>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="InputMessage">Deksripsi Iklan</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <textarea name="description" id="description" class="form-control" rows="5"
                                              required></textarea>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>


                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="InputName">Kategori</label>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12 input-group">
                                    <input type="text" class="form-control" name="category" id="category"
                                           placeholder="Kategori" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12 input-group">
                                    <input type="text" class="form-control" name="subcategory" id="subcategory"
                                           placeholder="Subkategori" required>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="input-group">
                                    <a href="#" id="auto-categorization"
                                       class="btn wow tada btn-embossed btn-info pull-right">
                                        Auto Categorization
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="InputName">Harga</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="price" id="Harga"
                                           placeholder="Harga" required>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="InputName">Nama</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Nama"
                                           required>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="InputEmail">Email</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Enter Email" required>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="InputName">No Telepon/HP</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="phone_number" id="Telepon"
                                           placeholder="No Telepon" required>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <input type="submit" name="submit" id="submit" value="Submit"
                           class="btn wow tada btn-embossed btn-primary pull-right">
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}
<script src="{{ url_for("static", filename="js/jquery-1.9.1.min.js") }}"></script>
<script>
    $("#auto-categorization").click(function() {
        $.ajax({
            url: "/api/categorize",
            method: "POST",
            data: {
                product_name: $("#product-name").val(),
                description: $("#description").val()
            }
        }).done(function(data) {
            $("#category").val(data.category);
            $("#subcategory").val(data.subcategory);
        });
    });
</script>
</body>


</html>
