{% include 'header.html' %}
<body id="home">
{% include 'navbar.html' %}

<!-- Admin page -->
<br>
<div class=" row">
    <div class="col-md-10 col-md-offset-1 text-center wrap_title">
        <h3>Admin Page</h3>
    </div>
</div>
<hr>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 20px"><h4>No.</h4></th>
            <th><h4>Nama Produk</h4></th>
            <th><h4>Kategori</h4></th>
            <th><h4>Subkategori</h4></th>
            <th><h4>Prediksi kategori</h4></th>
            <th><h4>Prediksi subkategori</h4></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th>{{ product['id'] }}</th>
                <th>{{ product['product_name'] }}</th>
                <th>{{ product['category'] }}</th>
                <th>{{ product['subcategory'] }}</th>
                <th>{{ product['pred_category'] }}</th>
                <th>{{ product['pred_subcategory'] }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
