{% include 'header.html' %}
<body id="home">
{% include 'navbar.html' %}

<!-- Admin page -->
	 <br>
    <div class=" row">
            <div class="col-md-10 col-md-offset-1 text-center wrap_title">
				<h3>Admin Page</h3>
			</div>
    </div>
    <hr></hr>
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 20px"><h4>No.</h4></th>
                <th><h4>Nama Produk</h4></th>
                <th><h4>Kategori</h4></th>
                <th><h4>Subkategori</h4></th>
                <th><h4>Source</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>**increment 1-N**</th>
                <th>**isi nama produk**</th>
                <th>**isi kategori**</th>
                <th>**isi subkategori**</th>
                <th><a href="">Link</a></th>
            </tr>
        </tbody>
        </table>
        <input type="submit" name="submit" id="submit" value="Categorize" class="btn wow tada btn-embossed btn-primary pull-right">
    </div>


</body>

</html>
