<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="footer-title"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>Flatify Est. 2016</h3>

                <!-- LICENSE -->
                <a rel="cc:attributionURL" href="/"
                   property="dc:title">Tentang Kami <br></a>
                <a rel="dc:creator" href=/"
                   property="cc:attributionName">Cara Berbelanja<br></a>
                <a rel="cc:attributionURL" href="/"
                   property="dc:title">Pembayaran<br></a>
                <a rel="dc:creator" href="/"
                   property="cc:attributionName">Kegiatan Kami<br></a>
                <BR>


            </div> <!-- /col-xs-7 -->

            <div class="col-md-5">
                <div class="footer-banner">
                    <h3 class="footer-title">Bantuan</h3>
                    <ul>
                        <li>Syarat dan Ketentuan</li>
                        <li>Kebijakan Privasi</li>
                        <li>Pusat Resolusi</li>
                        <li>Hubungi Kami</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>