{% include 'header.html' %}
<body>
{% include 'navbar.html' %}

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Five-Footer</h1>
    </div>
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
        <div class="button_down ">
            <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#Produk">
                <img class="img_scroll" src="{{ url_for("static", filename="img/icon/circle.png") }}" alt="">
            </a>
        </div>
    </div>
</div>


<!-- Prduk -->
<div id="Produk" class="content-section-b">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>Produk</h2>
            <p class="lead" style="margin-top:0">Kategori produk.</p>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-12 wow fadeInDown text-center">
                <a href="{{ url_for("routes.list_products_by_category", category_name="Mobil") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="Mobil" name="Mobil">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/large-car.png") }}"
                             alt="Generic placeholder image" style="width:65%">
                        <h3>Mobil</h3>
                    </div>
                </a>
                <a href="{{ url_for("routes.list_products_by_category", category_name="Motor") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="Motor" name="Motor">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/motorcycle.png") }}"
                             alt="Generic placeholder image"
                             style="width:65%">
                        <h3>Motor</h3>
                    </div>
                </a>
                <a href="{{ url_for("routes.list_products_by_category", category_name="Properti") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="Properti" name="Properti">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/building.png") }}"
                             alt="Generic placeholder image"
                             style="width:65%">
                        <h3>Properti</h3>
                    </div>
                </a>
                <a href="{{ url_for("routes.list_products_by_category", category_name="Keperluan Pribadi") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="KeperluanPribadi" name="Keperluan Pribadi">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/heels.png") }}"
                             alt="Generic placeholder image"
                             style="width:65%">
                        <h3>Keperluan Pribadi</h3>
                    </div>
                </a>
                <a href="{{ url_for("routes.list_products_by_category", category_name="Elektronik & Gadget") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="Elektronik&Gadget" name="Elektronik & Gadget">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/laptop.svg") }}"
                             alt="Generic placeholder image">
                        <h3>Elektronik & Gadget</h3>
                    </div>
                </a>
            </div><!-- /.div 12 col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-offset-1 col-sm-12 wow fadeInDown text-center">

                <a href="{{ url_for("routes.list_products_by_category", category_name="Hobi & Olahraga") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="Hobi&Olahraga" name="Hobi & Olahraga">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/football.svg") }}"
                             alt="Generic placeholder image">
                        <h3>Hobi & Olahraga</h3>
                    </div>
                </a>

                <a href="{{ url_for("routes.list_products_by_category", category_name="Rumah Tangga") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="RumahTangga" name="Rumah Tangga">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/chair.svg") }}"
                             alt="Generic placeholder image">
                        <h3>Rumah Tangga</h3>

                    </div>
                </a>
                <a href="{{ url_for("routes.list_products_by_category", category_name="Perlengkapan Bayi & Anak") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="PerlengkapanBayi&Anak"
                         name="Perlengkapan Bayi & Anak">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/stroller.png") }}"
                             alt="Generic placeholder image"
                             style="width:65%">
                        <h3>Perlengkapan Bayi & Anak</h3>
                    </div>
                </a>
                <a href="{{ url_for("routes.list_products_by_category", category_name="Kantor & Industri") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="Kantor&Industri"
                         name="Kantor & Industri">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/clipboard.svg") }}"
                             alt="Generic placeholder image">
                        <h3>Kantor & Industri</h3>
                    </div>
                </a>
                <a href="{{ url_for("routes.list_products_by_category", category_name="Jasa & Lowongan Kerja") }}">
                    <div class="col-sm-2 wow fadeInDown text-center" id="Jasa&Lowongan Kerja"
                         name="Jasa & Lowongan Kerja">
                        <img class="rotate" src="{{ url_for("static", filename="img/icon/worker.ico") }}"
                             alt="Generic placeholder image"
                             style="width:65%">
                        <h3>Jasa & Lowongan Kerja</h3>
                    </div>
                </a>
            </div><!-- /.div 12 col -->
        </div><!-- /.row -->
    </div>
</div>

{% include 'footer.html' %}

<!-- JavaScript -->
<script src="{{ url_for("static", filename="js/jquery-1.10.2.js") }}"></script>
<script src="{{ url_for("static", filename="js/bootstrap.js") }}"></script>
<script src="{{ url_for("static", filename="js/owl.carousel.js") }}"></script>
<script src="{{ url_for("static", filename="js/script.js") }}"></script>
<!-- StikyMenu -->
<script src="{{ url_for("static", filename="js/stickUp.min.js") }}"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();

        });
    });
</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="{{ url_for("static", filename="js/jquery.corner.js") }}"></script>
<script src="{{ url_for("static", filename="js/wow.min.js") }}"></script>
<script>
    new WOW().init();
</script>
<script src="{{ url_for("static", filename="js/classie.js") }}"></script>
<script src="{{ url_for("static", filename="js/uiMorphingButton_inflow.js") }}"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ url_for("static", filename="js/jquery.magnific-popup.js") }}"></script>

</body>
</html>