{% include 'header.html' %}

<body id="home">
{% include 'navbar.html' %}

    <br>
    <div class=" row">
            <div class="col-md-10 col-md-offset-1 text-center wrap_title">
				<h3>Nama Kategori</h3>
			</div>
{#            <div class="row">#}
{#                <div class="col-md-offset-1 col-md-10 alert alert-warning ">#}
{#                    <div class="col-md-3">#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href=/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href="/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                    </div>#}
{#                    <div class="col-md-3">#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href=/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href="/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                    </div>#}
{#                    <div class="col-md-3">#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href=/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href="/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                    </div>#}
{#                    <div class="col-md-3">#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href=/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                        <a rel="cc:attributionURL" href="/"#}
{#                        property="dc:title">Subkategori 1<br></a>#}
{#                        <a rel="dc:creator" href="/"#}
{#                        property="cc:attributionName">Subkategori 1<br></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
    </div>
    <hr></hr>

    <!-- <form role="form" action="" method="post" >
			<div class="col-md-offset-1 alert alert-success col-md-10">
				<div class="form-group">
						<label for="InputName">Subkategori </label>
							<select class="selectpicker" style="color: black">
							  <option>sub1</option>
							  <option>sub2</option>
							  <option>sub3</option>
							</select>
				</div>
			</div><br>
		</form> -->

	<!-- productList -->
	<div id="productList" class="container">
            <div class="col-md-12">
{#                produkThumbnail#}
                <a href="/deskripsiProduk">
                    <div class="col-md-3">
                        <div class="thumbnail col-md-12">
                            <img src="https://www.enterprise.com/content/dam/global-vehicle-images/cars/FORD_FOCU_2012-1.png" alt="...">
                            <div class="caption">
                                <h4>Judul Iklan</h4>
                                <p><h5>SUBKATEGORI</h5>
                                <b>Kota</b> <br>
                                <h6>Rp 10.000</h6></p>
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="row"> <!--pagination -->
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
    </div> <!--tampilan list produk -->


    {% include 'footer.html' %}
</body>

</html>
