{% include 'header.html' %}

<body id="home">
{% include 'navbar.html' %}

{#	<!-- Preloader -->#}
{#	<div id="preloader">#}
{#		<div id="status"></div>#}
{#	</div>#}
	
	<div class="row">
		<div class="col-md-4 col-md-offset-1 text-center wrap_title">
				<h3>Nama Kategori</h3>
		</div>	
		<div class="col-md-6text-center wrap_title">
				<h4>Subkategori</h4>
		</div>	
	</div>	
	<hr></hr>

	<!-- productList -->
	<div id="productList" class="container" >

		<!-- <form role="form" action="" method="post" >
			<div class="col-md-offset-1 alert alert-success col-md-10">
				<div class="form-group">
						<label for="InputName">Subkategori </label>
							<select class="selectpicker" style="color: black">
							  <option>sub1</option>
							  <option>sub2</option>
							  <option>sub3</option>
							</select>
				</div>
			</div><br> 
		</form> -->
        <a href="/deskripsiProduk">
		    <div class="row ">
			    <div class="col-md-offset-1 col-sm-4 col-md-2">
                    <div class="thumbnail">
                        <img src="https://www.enterprise.com/content/dam/global-vehicle-images/cars/FORD_FOCU_2012-1.png" alt="...">
                        <div class="caption">
                        <h3>Judul Iklan</h3>
                        <p><h5>SUBKATEGORI</h5>
                            <b>Kota</b> <br>
                            <h6>Rp 10.000</h6></p>
                        </div>
				    </div>
			    </div>
        </a>

        <a href="/deskripsiProduk">
			<div class="col-sm-4 col-md-2">
				<div class="thumbnail">
				  <img src="https://www.enterprise.com/content/dam/global-vehicle-images/cars/FORD_FOCU_2012-1.png" alt="...">
				  <div class="caption">
				    <h3>Judul Iklan</h3>
				    <p><h5>SUBKATEGORI</h5>
				        <b>Kota</b> <br>
				        <h6>Rp 10.000</h6></p>
				  </div>
				</div>
			</div>
        </a>

        <a href="/deskripsiProduk">
			<div class="col-sm-4 col-md-2">
				<div class="thumbnail">
				  <img src="https://www.enterprise.com/content/dam/global-vehicle-images/cars/FORD_FOCU_2012-1.png" alt="...">
				  <div class="caption">
				    <h3>Judul Iklan</h3>
				    <p><h5>SUBKATEGORI</h5>
				        <b>Kota</b> <br>
				        <h6>Rp 10.000</h6></p>
				  </div>
				</div>
			</div>
        </a>

        <a href="/deskripsiProduk">
			<div class="col-sm-4 col-md-2">
				<div class="thumbnail">
				  <img src="https://www.enterprise.com/content/dam/global-vehicle-images/cars/FORD_FOCU_2012-1.png" alt="...">
				  <div class="caption">
				    <h3>Judul Iklan</h3>
				    <p><h5>SUBKATEGORI</h5>
				        <b>Kota</b> <br>
				        <h6>Rp 10.000</h6></p>
				  </div>
				</div>
			</div>
        </a>

        <a href="/deskripsiProduk">
			<div class="col-sm-4 col-md-2">
				<div class="thumbnail">
				  <img src="https://www.enterprise.com/content/dam/global-vehicle-images/cars/FORD_FOCU_2012-1.png" alt="...">
				  <div class="caption">
				    <h3>Judul Iklan</h3>
				    <p><h5>SUBKATEGORI</h5>
				        <b>Kota</b> <br>
				        <h6>Rp 10.000</h6></p>
				  </div>
				</div>
			</div>
        </a>

		 </div> <!--tampilan list produk -->

		<div class="col-md-offset-1 row"> <!--pagination -->
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>

	</div>

{% include 'footer.html' %}
</body>

</html>
