{% include 'header.html' %}

<body id="home">
{% include 'navbar.html' %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md-12"><h3>{{ product.product_name }}</h3></div><br><br>
        <hr>
    </div>
    <div class="row jumbotron">
        <div class="col-md-3">
            <img src="http://www.psdgraphics.com/file/shopping-bag-icon.jpg" style="width: 100%; border: solid">
        </div>
        <div class="col-md-5" style="border:ridge;">
            <h4>Deskripsi Produk</h4>
            <h6>{{ product.description|safe }}</h6>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="alert alert-danger">
                        {{ product.price }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{ product.name }}
                </div>
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    {{ product.phone_number }}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>